<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<title>Assignment - Jobvite</title>
		<link href="static/images/jobvite.ico" rel="shortcut icon" type="image/x-icon"/>
		<link rel="stylesheet" type="text/css" href="static/css/base.css">
		<script type="text/javascript" src="static/js/plugins/angular.min.js"></script>
		<script type="text/javascript" src="static/js/plugins/jquery_2-1-1.min.js"></script>
		<script type="text/javascript" src="static/js/common.min.js"></script>
	</head>
	<body ng-app="jobviteservers">

		<!--CONTAINER-->
		<div class="container">

			<!--CONTENT-->
			<div class="content">

				<section class="content-list">

					<!--LIST HEADER-->
					<ul class="list-masthead">
						<li>Changelist / Build</li>
						<li>Owner</li>
						<li>Time Started</li>
						<li>State</li>
						<li>Metrics</li>
						<li>Build</li>
						<li>Unit test</li>
						<li>Functional test</li>
					</ul>
					<!--/LIST HEADER-->


					<!--MAIN LIST (SERVERS)-->
					<ul id="list-servers" class="list-servers" ng-controller="showListBuildFirewall">
						<li class="item item-{{item.state}}" data-id-control="{{item.id}}" ng-repeat="item in list" ng-click="set_item( $event )" ng-class="{ 'open' : item.debug }" >
							<ul class="item-options">
								<li class="label label-tag tag-type">
									<i ng-class="{'entypo-monitor': item.type == 'build' , 'fontawesome-th': item.type == 'firewall'}"></i>
								</li>
								<li class="label label-name">{{item.name}}</li>
								<li class="label label-owner">{{item.owner}}</li>
								<li class="label label-date">{{item.date}}</li>
								<li class="label label-state">{{item.state}}</li>
								<li class="label label-bars label-metrics">
									<div class="lbar">
										<div class="pcent {{item.metrics_st}}" style="width: {{item.metrics}}">
										</div>
									</div>
								</li>
								<li class="label label-bars label-build">
									<div class="lbar">
										<div class="pcent {{item.build_st}}" style="width: {{item.build}}">
										</div>
									</div>
								</li>
								<li class="label label-bars label-unit">
									<div class="lbar">
										<div class="pcent {{item.unit_st}}" style="width: {{item.unit}}">
										</div>
									</div>
								</li>
								<li class="label label-bars label-functional">
									<div class="lbar">
										<div class="pcent {{item.functional_st}}" style="width: {{item.functional}}">
										</div>
									</div>
								</li>
							</ul>

							<!--MORE DETAILS-->
							<div class="details">
								<div class="box box-metrics {{item.metrics_st}}">
									<h2 class="title">Metrics</h2>
								</div>
								<div class="box box-build {{item.build_st}}">
									<h2 class="title">Build</h2>
								</div>
								<div class="box box-unit {{item.unit_st}}">
									<h2 class="title">Unit Test</h2>
								</div>
								<div class="box box-functional {{item.functional_st}}" ng-class="{ 'complete' : item.functional_st == 'none' }">
									<h2 class="title">Functional Test</h2>
								</div>
								<div class="box box-result {{item.state}}">
									<h2 class="title">Result</h2>
									<h3>Change {{item.state}}</h3>
									<p class="descr">{{item.final_status}}</p>
								</div>
							</div>
							<!--/MORE DETAILS-->
						</li>
					</ul>
					<!--/MAIN LIST (SERVERS)-->


				</section>

			</div>
			<!--/CONTENT-->

		</div>
		<!--/CONTAINER-->

	</body>
</html>