<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<title>Assignment - Jobvite</title>
		<link href="static/images/jobvite.ico" rel="shortcut icon" type="image/x-icon"/>
		<link rel="stylesheet" type="text/css" href="static/css/base.css">
		<script type="text/javascript" src="static/js/plugins/angular.min.js"></script>
		<script type="text/javascript" src="static/js/plugins/jquery_2-1-1.min.js"></script>
		<script type="text/javascript" src="static/js/plugins/chart.min.js"></script>
		<script type="text/javascript" src="static/js/common.min.js"></script>
	</head>
	<body data-ng-app="jobviteservers">

		<!--CONTAINER-->
		<div class="container">

			<!--CONTENT-->
			<div class="content">

				<!--CONTENT LIST-->
				<section class="content-list">

					<!--LIST HEADER-->
					<ul class="list-masthead">
						<li>Changelist / Build</li>
						<li>Owner</li>
						<li>Time Started</li>
						<li>State</li>
						<li>Metrics</li>
						<li>Build</li>
						<li>Unit test</li>
						<li>Functional test</li>
					</ul>
					<!--/LIST HEADER-->


					<!--MAIN LIST (SERVERS)-->
					<ul id="list-servers" class="list-servers" data-ng-controller="showListBuildFirewall">
						<!--ng-repeat-->
						<li class="item item-{{item.state}}" data-ng-repeat="item in list" data-ng-click="set_item( $event )" data-ng-class="{ 'open' : item.debug }" data-id-control="{{item.id}}" data-on-finish-render="ngRepeatFinished">

							<!--OPTS-->
							<ul class="item-options">
								<li class="label label-tag tag-type">
									<i data-ng-class="{'entypo-monitor': item.type == 'build' , 'fontawesome-th': item.type == 'firewall'}"></i>
								</li>
								<li class="label label-name">{{item.name}}</li>
								<li class="label label-owner">{{item.owner}}</li>
								<li class="label label-date">{{item.date}}</li>
								<li class="label label-state">{{item.state}}</li>
								<li class="label label-bars label-metrics">
									<div class="lbar">
										<div class="pcent {{item.metrics.metrics_st}}" style="width: {{item.metrics.total}}%">
										</div>
									</div>
								</li>
								<li class="label label-bars label-build">
									<div class="lbar">
										<div class="pcent {{item.build.build_st}}" style="width: {{item.build.total}}%">
										</div>
									</div>
								</li>
								<li class="label label-bars label-unit">
									<div class="lbar">
										<div class="pcent {{item.unit.unit_st}}" style="width: {{item.unit.total}}%">
										</div>
									</div>
								</li>
								<li class="label label-bars label-functional">
									<div class="lbar">
										<div class="pcent {{item.functional.functional_st}}" style="width: {{item.functional.total}}%">
										</div>
									</div>
								</li>
							</ul>
							<!--/OPTS-->


							<!--CLOSE BUTTON-->
							<button class="btn btn-close"><span class="icon-x icon-side">X</span>Close</button>
							<!--/CLOSE BUTTON-->


							<!--MORE DETAILS-->
							<section class="details">

								<!--metrics-->
								<section class="box box-metrics {{item.metrics.metrics_st}}" data-ng-class="{ 'complete' : item.metrics.metrics_st == 'none' }">
									<h2 class="title">Metrics</h2>
									<div class="content arrows">
										<div class="arrow-item" title="Measuring metrics">
											<div class="arrow arrow-{{item.metrics.test.way}} {{item.metrics.test.way}}">
												<span class="value-n">{{item.metrics.test.n}}</span>
											</div>
											<span class="legend">Test</span>
										</div>
										<div class="arrow-item" title="Measuring metrics">
											<div class="arrow arrow-{{item.metrics.maint.way}} {{item.metrics.maint.way}}">
												<span class="value-n">{{item.metrics.maint.n}}</span>
											</div>
											<span class="legend">Maintainability</span>
										</div>
										<div class="arrow-item" title="Measuring metrics">
											<div class="arrow arrow-{{item.metrics.sec.way}} {{item.metrics.sec.way}}" data-ng-class="{ 'arrow-up up': ( item.metrics.sec.way == 'left' || item.metrics.sec.way == 'right' ) }"> <!--fix:addclass-left/right-->
												<span class="value-n">{{item.metrics.sec.n}}</span>
											</div>
											<span class="legend">Security</span>
										</div>
										<div class="arrow-item" title="Measuring metrics">
											<div class="arrow arrow-{{item.metrics.work.way}} {{item.metrics.work.way}}" data-ng-class="{ 'arrow-up up': ( item.metrics.work.way == 'left' || item.metrics.work.way == 'right' ) }"> <!--fix:addclass-left/right-->
												<span class="value-n">{{item.metrics.work.n}}</span>
											</div>
											<span class="legend">Workmanship</span>
										</div>
									</div>
								</section>

								<!--build-->
								<section class="box box-build {{item.build.build_st}}" data-ng-class="{ 'complete' : item.build.build_st == 'none' }">
									<h2 class="title">Build</h2>
									<div class="content">
										<a class="item item-debug prevent-default" href="#" title="Go to Debug preview">
											<i class="entypo-monitor"></i>
											<span class="legend">Debug</span>
										</a>
										<a class="item item-release prevent-default" href="#" title="Go to Release preview">
											<i class="entypo-monitor"></i>
											<span class="legend">Release</span>
										</a>
										<p class="date-updated">{{item.build.date_build}}</p>
									</div>
								</section>

								<!--unit-->
								<section class="box box-unit {{item.unit.unit_st}}" data-ng-class="{ 'complete' : item.unit.unit_st == 'none' }">
									<h2 class="title">Unit Test</h2>
									<div class="content">
										<!--chart-->
										<div class="pie chart">
											<canvas class="org-pie pie-{{item.id}}" width="100%" height="100%" data-code-covered="{{item.unit.code_covered}}" data-code-not-covered="{{item.unit.code_not_covered}}"></canvas>
										</div>
										<!--percentage status-->
										<div class="pie pcent">
											<span class="real">{{item.unit.total}}%</span>
											<span class="descr">{{item.unit.msg}}</span>
										</div>
										<!--a clear status bar-->
										<div class="pie stbar">
											<div class="fill" style="width: {{item.unit.code_covered_pcent}}%;">
											</div>
											<span class="pcent" ng-class="{ 'down': item.unit.code_covered_pcent <= 50 }">{{item.unit.code_covered_pcent}}%</span>
											<span class="descr">code covered</span>
										</div>
									</div>
								</section>

								<!--functional-->
								<section class="box box-functional {{item.functional.functional_st}}" data-ng-class="{ 'complete' : item.functional.functional_st == 'none' }">
									<h2 class="title">Functional Test</h2>
									<div class="content">
										<!--chart-->
										<div class="pie chart">
											<canvas class="org-pie pie-{{item.id}}" width="100%" height="100%" data-code-covered="{{item.functional.code_covered}}" data-code-not-covered="{{item.functional.code_not_covered}}"></canvas>
										</div>
										<!--percentage status-->
										<div class="pie pcent">
											<span class="real">{{item.functional.total}}%</span>
											<span class="descr">{{item.functional.msg}}</span>
										</div>
										<!--a clear status bar-->
										<div class="pie stbar">
											<div class="fill" style="width: {{item.functional.code_covered_pcent}}%;">
											</div>
											<span class="pcent" ng-class="{ 'down': item.functional.code_covered_pcent <= 50 }">{{item.functional.code_covered_pcent}}%</span>
											<span class="descr">code covered</span>
										</div>
									</div>
								</section>

								<!--final results-->
								<section class="box box-result {{item.state}}">
									<h2 class="title">Result:</h2>
									<h3 data-ng-if="!(item.state == 'running' || item.state == 'complete')">Change {{item.state}}</h3>
									<p class="descr">{{item.final_status}}</p>

									<!--running:shows-the-message-->

									<!--accepted-->
									<button class="btn btn-merge prevent-default" data-ng-if="item.state == 'accepted'"><i class="fontawesome-search icon-side inverted"></i>Merged Build</button>

									<!--accepted-->
									<button class="btn btn-find-issues prevent-default" data-ng-if="item.state == 'rejected'"><i class="fontawesome-search icon-side"></i>Find Issues</button>

									<!--complete-->
									<div data-ng-if="item.state == 'complete'">
										<button class="btn btn-deploy prevent-default">Deploy</button>
										<span class="text-inline">to: </span>
										<select class="select prevent-default select-deploy-to">
											<option value="staging" selected>Staging</option>
											<option value="test">Test env.</option>
											<option value="prod">Production</option>
										</select>
									</div>

								</section>
							</section>
							<!--/MORE DETAILS-->
						</li>
						<!--/ng-repeat-->
					</ul>
					<!--/MAIN LIST (SERVERS)-->

				</section>
				<!--/CONTENT LIST-->

				<!--me-->
				<div class="guicheffer">
					<ul class="links">
						<li>
							<a href="http://facebook.com/guicheffer" title="Go to my facebook profile" target="_blank"><i class="entypo-facebook-circled"></i></a>
						</li>
						<li>
							<a href="https://github.com/guicheffeR/jobvite-assignment" title="Check this repo on GitHub" target="_blank"><i class="entypo-github-circled"></i></a>
						</li>
						<li>
							<a href="http://br.linkedin.com/in/guicheffer" title="See my linkedin profile!" target="_blank"><i class="entypo-linkedin-circled"></i></a>
						</li>
					</ul>
				</div>

			</div>
			<!--/CONTENT-->

		</div>
		<!--/CONTAINER-->

	</body>
</html>