/**
 * Jobvite Assignment
 * http://tests.guiatech.com.br/jobvite-assignment/
 * Copyright 2015, Guia Tech
 * Author: João Guilherme C. Prado
 * Library: Compass / ruby 2.0
 * 
 * Built with Angular and Polish of UX experience and adherence to spec, Cleanliness, simplicity of code / stubs aiming status of builds and firewalls.
 *
 * Date: Mon Jan 26 2015 22:49:32 GMT-0300
 */

/* Variables */
$default_font : 14px/16px verdana, sans-serif, arial ;
$background_color_from : #F9FBFE ;
$background_color_to : #FEFFFF ;
/* /Variables */

/* =============================================================================
   CSS Reset
   ========================================================================== */

@import "plugins/fonts" ;
@import "plugins/reset" ;
@import "compass/css3" ;

/* =============================================================================
   Plugins
   ========================================================================== */


/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  font-style: normal;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  font-style: normal;
}

/* =============================================================================
   General
   ========================================================================== */

body {
	margin: 0;
	clear: both;
	font: $default_font;
}

.container {
	width: 1265px;
	margin: 0 auto;
	.content {
		outline: 1px dotted;
		background: #eee;
		padding: 5px;
		@include box-sizing(border-box);
		margin-top: 30px;
	}
	.content-list {
		@include background-image(linear-gradient(to right, $background_color_from, $background_color_to));
		width: 100%;
		margin: 20px auto;
		clear: both;
		border: 2px solid #C0CCDB;
		padding: 20px;
		@include box-sizing(border-box);
		.list-masthead {
			list-style: none;
			clear: both;
			width: 100%;
			margin-bottom: 10px;
			& > li {
				display: inline;
				padding: 0px 40px;
				&:first-child {
					padding-left: 10px;
				}
			}
		}
		.list-servers {
			list-style: none;
			.item {
				@include box-sizing(border-box);
				width: 100%;
				padding: 5px;
				height: 35px;
				&.item-running {
					border: 2px solid #6596C3;
					color: #6596C3;
				}
			}
			.item-options {
				list-style: none;
				& > li {
					display: inline-block;
				}
				.label {
					font-size: 20px;
					height: auto;
					padding: 0;
					&.label-tag {
						&.tag-build {
							border: 1px solid #ccc;
						}
					}
					&.label-name {
						width: 160px;
					}
				}
			}
		}
	}
}



/* =============================================================================
   Footer
   ========================================================================== */


/*---*/
