/**
 * Jobvite Assignment
 * http://tests.guiatech.com.br/jobvite-assignment/
 * Copyright 2015, Guia Tech
 * Author: João Guilherme C. Prado
 * Library: Compass / ruby 2.0
 * 
 * Built with Angular and Polish of UX experience and adherence to spec, Cleanliness, simplicity of code / stubs aiming status of builds and firewalls.
 *
 * Date: Mon Jan 26 2015 22:49:32 GMT-0300
 */

/* Variables */
$default_font : 14px/16px verdana, sans-serif, arial ;
$background_color : #FBFCFE ;
/* /Variables */

/* =============================================================================
   CSS Reset
   ========================================================================== */

@import "plugins/reset" ;
@import "compass/css3" ;

/* =============================================================================
   General
   ========================================================================== */

body {
	margin: 0;
	clear: both;
	font: $default_font;
}

.container {
	width: 1265px;
	margin: 0 auto;
	.content {
		outline: 1px dotted;
		background: #eee;
		padding: 5px;
		@include box-sizing(border-box) ;
		margin-top: 30px;
		.content-list {
			background: $background_color;
			width: 100%;
			margin: 20px auto;
			clear: both;
			border: 2px solid #C0CCDB;
			padding: 20px;
			@include box-sizing(border-box) ;
			.list-masthead {
				list-style: none;
				clear: both;
				display: inline-block;
				width: 100%;
				margin-bottom: 10px;
				& > li {
					float: left;
					padding: 0px 44px;
					&:first-child {
						padding-left: 0;
					}
				}
			}
		}
	}
}



/* =============================================================================
   Footer
   ========================================================================== */


/*---*/
