@charset "UTF-8";
/**
 * Jobvite Assignment
 * http://tests.guiatech.com.br/jobvite-assignment/
 * Copyright 2015, Guia Tech
 * Author: João Guilherme C. Prado
 * Library: Compass / ruby 2.0
 * 
 * Built with Angular and Polish of UX experience and adherence to spec, Cleanliness, simplicity of code / stubs aiming status of builds and firewalls.
 *
 * Date: Mon Jan 26 2015 22:49:32 GMT-0300
 */
/* Variables */
/* /Variables */
/* =============================================================================
   CSS Reset
   ========================================================================== */
@font-face {
  font-family: 'entypo';
  font-style: normal;
  font-weight: normal;
  src: url("http://weloveiconfonts.com/api/fonts/entypo/entypo.eot");
  src: url("http://weloveiconfonts.com/api/fonts/entypo/entypo.eot?#iefix") format("eot"), url("http://weloveiconfonts.com/api/fonts/entypo/entypo.woff") format("woff"), url("http://weloveiconfonts.com/api/fonts/entypo/entypo.ttf") format("truetype"), url("http://weloveiconfonts.com/api/fonts/entypo/entypo.svg#entypo") format("svg");
}
.entypo-note:before {
  content: "\266a";
}

.entypo-note-beamed:before {
  content: "\266b";
}

.entypo-music:before {
  content: "\1f3b5";
}

.entypo-search:before {
  content: "\1f50d";
}

.entypo-flashlight:before {
  content: "\1f526";
}

.entypo-mail:before {
  content: "\2709";
}

.entypo-heart:before {
  content: "\2665";
}

.entypo-heart-empty:before {
  content: "\2661";
}

.entypo-star:before {
  content: "\2605";
}

.entypo-star-empty:before {
  content: "\2606";
}

.entypo-user:before {
  content: "\1f464";
}

.entypo-users:before {
  content: "\1f465";
}

.entypo-user-add:before {
  content: "\e700";
}

.entypo-video:before {
  content: "\1f3ac";
}

.entypo-picture:before {
  content: "\1f304";
}

.entypo-camera:before {
  content: "\1f4f7";
}

.entypo-layout:before {
  content: "\268f";
}

.entypo-menu:before {
  content: "\2630";
}

.entypo-check:before {
  content: "\2713";
}

.entypo-cancel:before {
  content: "\2715";
}

.entypo-cancel-circled:before {
  content: "\2716";
}

.entypo-cancel-squared:before {
  content: "\274e";
}

.entypo-plus:before {
  content: "\2b";
}

.entypo-plus-circled:before {
  content: "\2795";
}

.entypo-plus-squared:before {
  content: "\229e";
}

.entypo-minus:before {
  content: "\2d";
}

.entypo-minus-circled:before {
  content: "\2796";
}

.entypo-minus-squared:before {
  content: "\229f";
}

.entypo-help:before {
  content: "\2753";
}

.entypo-help-circled:before {
  content: "\e704";
}

.entypo-info:before {
  content: "\2139";
}

.entypo-info-circled:before {
  content: "\e705";
}

.entypo-back:before {
  content: "\1f519";
}

.entypo-home:before {
  content: "\2302";
}

.entypo-link:before {
  content: "\1f517";
}

.entypo-attach:before {
  content: "\1f4ce";
}

.entypo-lock:before {
  content: "\1f512";
}

.entypo-lock-open:before {
  content: "\1f513";
}

.entypo-eye:before {
  content: "\e70a";
}

.entypo-tag:before {
  content: "\e70c";
}

.entypo-bookmark:before {
  content: "\1f516";
}

.entypo-bookmarks:before {
  content: "\1f4d1";
}

.entypo-flag:before {
  content: "\2691";
}

.entypo-thumbs-up:before {
  content: "\1f44d";
}

.entypo-thumbs-down:before {
  content: "\1f44e";
}

.entypo-download:before {
  content: "\1f4e5";
}

.entypo-upload:before {
  content: "\1f4e4";
}

.entypo-upload-cloud:before {
  content: "\e711";
}

.entypo-reply:before {
  content: "\e712";
}

.entypo-reply-all:before {
  content: "\e713";
}

.entypo-forward:before {
  content: "\27a6";
}

.entypo-quote:before {
  content: "\275e";
}

.entypo-code:before {
  content: "\e714";
}

.entypo-export:before {
  content: "\e715";
}

.entypo-pencil:before {
  content: "\270e";
}

.entypo-feather:before {
  content: "\2712";
}

.entypo-print:before {
  content: "\e716";
}

.entypo-retweet:before {
  content: "\e717";
}

.entypo-keyboard:before {
  content: "\2328";
}

.entypo-comment:before {
  content: "\e718";
}

.entypo-chat:before {
  content: "\e720";
}

.entypo-bell:before {
  content: "\1f514";
}

.entypo-attention:before {
  content: "\26a0";
}

.entypo-alert:before {
  content: "\1f4a5'";
}

.entypo-vcard:before {
  content: "\e722";
}

.entypo-address:before {
  content: "\e723";
}

.entypo-location:before {
  content: "\e724";
}

.entypo-map:before {
  content: "\e727";
}

.entypo-direction:before {
  content: "\27a2";
}

.entypo-compass:before {
  content: "\e728";
}

.entypo-cup:before {
  content: "\2615";
}

.entypo-trash:before {
  content: "\e729";
}

.entypo-doc:before {
  content: "\e730";
}

.entypo-docs:before {
  content: "\e736";
}

.entypo-doc-landscape:before {
  content: "\e737";
}

.entypo-doc-text:before {
  content: "\1f4c4";
}

.entypo-doc-text-inv:before {
  content: "\e731";
}

.entypo-newspaper:before {
  content: "\1f4f0";
}

.entypo-book-open:before {
  content: "\1f4d6";
}

.entypo-book:before {
  content: "\1f4d5";
}

.entypo-folder:before {
  content: "\1f4c1";
}

.entypo-archive:before {
  content: "\e738";
}

.entypo-box:before {
  content: "\1f4e6";
}

.entypo-rss:before {
  content: "\e73a";
}

.entypo-phone:before {
  content: "\1f4dE";
}

.entypo-cog:before {
  content: "\2699";
}

.entypo-tools:before {
  content: "\2692";
}

.entypo-share:before {
  content: "\e73c";
}

.entypo-shareable:before {
  content: "\e73e";
}

.entypo-basket:before {
  content: "\e73d";
}

.entypo-bag:before {
  content: "\1f45c'";
}

.entypo-calendar:before {
  content: "\1f4c5";
}

.entypo-login:before {
  content: "\e740";
}

.entypo-logout:before {
  content: "\e741";
}

.entypo-mic:before {
  content: "\1f3a4";
}

.entypo-mute:before {
  content: "\1f507";
}

.entypo-sound:before {
  content: "\1f50a";
}

.entypo-volume:before {
  content: "\e742";
}

.entypo-clock:before {
  content: "\1f554";
}

.entypo-hourglass:before {
  content: "\23f3";
}

.entypo-lamp:before {
  content: "\1f4a1";
}

.entypo-light-down:before {
  content: "\1f505";
}

.entypo-light-up:before {
  content: "\1f506";
}

.entypo-adjust:before {
  content: "\25d1";
}

.entypo-block:before {
  content: "\1f6ab";
}

.entypo-resize-full:before {
  content: "\e744";
}

.entypo-resize-small:before {
  content: "\e746";
}

.entypo-popup:before {
  content: "\e74c";
}

.entypo-publish:before {
  content: "\e74d";
}

.entypo-window:before {
  content: "\e74e";
}

.entypo-arrow-combo:before {
  content: "\e74f";
}

.entypo-down-circled:before {
  content: "\e758";
}

.entypo-left-circled:before {
  content: "\e759";
}

.entypo-right-circled:before {
  content: "\e75a";
}

.entypo-up-circled:before {
  content: "\e75b";
}

.entypo-down-open:before {
  content: "\e75c";
}

.entypo-left-open:before {
  content: "\e75d";
}

.entypo-right-open:before {
  content: "\e75e";
}

.entypo-up-open:before {
  content: "\e75f";
}

.entypo-down-open-mini:before {
  content: "\e760";
}

.entypo-left-open-mini:before {
  content: "\e761";
}

.entypo-right-open-mini:before {
  content: "\e762";
}

.entypo-up-open-mini:before {
  content: "\e763";
}

.entypo-down-open-big:before {
  content: "\e764";
}

.entypo-left-open-big:before {
  content: "\e765";
}

.entypo-right-open-big:before {
  content: "\e766";
}

.entypo-up-open-big:before {
  content: "\e767";
}

.entypo-down:before {
  content: "\2b07";
}

.entypo-left:before {
  content: "\2b05";
}

.entypo-right:before {
  content: "\27a1";
}

.entypo-up:before {
  content: "\2b06";
}

.entypo-down-dir:before {
  content: "\25be";
}

.entypo-left-dir:before {
  content: "\25c2";
}

.entypo-right-dir:before {
  content: "\25b8";
}

.entypo-up-dir:before {
  content: "\25b4";
}

.entypo-down-bold:before {
  content: "\e4b0";
}

.entypo-left-bold:before {
  content: "\e4ad";
}

.entypo-right-bold:before {
  content: "\e4ae";
}

.entypo-up-bold:before {
  content: "\e4af";
}

.entypo-down-thin:before {
  content: "\2193";
}

.entypo-left-thin:before {
  content: "\2190";
}

.entypo-right-thin:before {
  content: "\2192";
}

.entypo-up-thin:before {
  content: "\2191";
}

.entypo-ccw:before {
  content: "\27f2";
}

.entypo-cw:before {
  content: "\27f3";
}

.entypo-arrows-ccw:before {
  content: "\1f504";
}

.entypo-level-down:before {
  content: "\21b3";
}

.entypo-level-up:before {
  content: "\21b0";
}

.entypo-shuffle:before {
  content: "\1f500";
}

.entypo-loop:before {
  content: "\1f501";
}

.entypo-switch:before {
  content: "\21c6";
}

.entypo-play:before {
  content: "\25b6";
}

.entypo-stop:before {
  content: "\25a0";
}

.entypo-pause:before {
  content: "\2389";
}

.entypo-record:before {
  content: "\26ab";
}

.entypo-to-end:before {
  content: "\23ed";
}

.entypo-to-start:before {
  content: "\23ee";
}

.entypo-fast-forward:before {
  content: "\23e9";
}

.entypo-fast-backward:before {
  content: "\23ea";
}

.entypo-progress-0:before {
  content: "\e768";
}

.entypo-progress-1:before {
  content: "\e769";
}

.entypo-progress-2:before {
  content: "\e76a";
}

.entypo-progress-3:before {
  content: "\e76b";
}

.entypo-target:before {
  content: "\1f3af";
}

.entypo-palette:before {
  content: "\1f3a8";
}

.entypo-list:before {
  content: "\e005";
}

.entypo-list-add:before {
  content: "\e003";
}

.entypo-signal:before {
  content: "\1f4f6";
}

.entypo-trophy:before {
  content: "\1f3c6";
}

.entypo-battery:before {
  content: "\1f50b";
}

.entypo-back-in-time:before {
  content: "\e771";
}

.entypo-monitor:before {
  content: "\1f4bb";
}

.entypo-mobile:before {
  content: "\1f4f1";
}

.entypo-network:before {
  content: "\e776";
}

.entypo-cd:before {
  content: "\1f4bf";
}

.entypo-inbox:before {
  content: "\e777";
}

.entypo-install:before {
  content: "\e778";
}

.entypo-globe:before {
  content: "\1f30e";
}

.entypo-cloud:before {
  content: "\2601";
}

.entypo-cloud-thunder:before {
  content: "\26c8";
}

.entypo-flash:before {
  content: "\26a1";
}

.entypo-moon:before {
  content: "\263d";
}

.entypo-flight:before {
  content: "\2708";
}

.entypo-paper-plane:before {
  content: "\e79b";
}

.entypo-leaf:before {
  content: "\1f342";
}

.entypo-lifebuoy:before {
  content: "\e788";
}

.entypo-mouse:before {
  content: "\e789";
}

.entypo-briefcase:before {
  content: "\1f4bc";
}

.entypo-suitcase:before {
  content: "\e78e";
}

.entypo-dot:before {
  content: "\e78b";
}

.entypo-dot-2:before {
  content: "\e78c";
}

.entypo-dot-3:before {
  content: "\e78d";
}

.entypo-brush:before {
  content: "\e79a";
}

.entypo-magnet:before {
  content: "\e7a1";
}

.entypo-infinity:before {
  content: "\221e";
}

.entypo-erase:before {
  content: "\232b";
}

.entypo-chart-pie:before {
  content: "\e751";
}

.entypo-chart-line:before {
  content: "\1f4c8";
}

.entypo-chart-bar:before {
  content: "\1f4ca";
}

.entypo-chart-area:before {
  content: "\1f53e";
}

.entypo-tape:before {
  content: "\2707";
}

.entypo-graduation-cap:before {
  content: "\1f393";
}

.entypo-language:before {
  content: "\e752";
}

.entypo-ticket:before {
  content: "\1f3ab";
}

.entypo-water:before {
  content: "\1f4a6";
}

.entypo-droplet:before {
  content: "\1f4a7";
}

.entypo-air:before {
  content: "\e753";
}

.entypo-credit-card:before {
  content: "\1f4b3";
}

.entypo-floppy:before {
  content: "\1f4be";
}

.entypo-clipboard:before {
  content: "\1f4cb";
}

.entypo-megaphone:before {
  content: "\1f4e3";
}

.entypo-database:before {
  content: "\e754";
}

.entypo-drive:before {
  content: "\e755";
}

.entypo-bucket:before {
  content: "\e756";
}

.entypo-thermometer:before {
  content: "\e757";
}

.entypo-key:before {
  content: "\1f511";
}

.entypo-flow-cascade:before {
  content: "\e790";
}

.entypo-flow-branch:before {
  content: "\e791";
}

.entypo-flow-tree:before {
  content: "\e792";
}

.entypo-flow-line:before {
  content: "\e793";
}

.entypo-flow-parallel:before {
  content: "\e794";
}

.entypo-rocket:before {
  content: "\1f680";
}

.entypo-gauge:before {
  content: "\e7a2";
}

.entypo-traffic-cone:before {
  content: "\e7a3";
}

.entypo-cc:before {
  content: "\e7a5";
}

.entypo-cc-by:before {
  content: "\e7a6";
}

.entypo-cc-nc:before {
  content: "\e7a7";
}

.entypo-cc-nc-eu:before {
  content: "\e7a8";
}

.entypo-cc-nc-jp:before {
  content: "\e7a9";
}

.entypo-cc-sa:before {
  content: "\e7aa";
}

.entypo-cc-nd:before {
  content: "\e7ab";
}

.entypo-cc-pd:before {
  content: "\e7ac";
}

.entypo-cc-zero:before {
  content: "\e7ad";
}

.entypo-cc-share:before {
  content: "\e7ae";
}

.entypo-cc-remix:before {
  content: "\e7af";
}

.entypo-github:before {
  content: "\f300";
}

.entypo-github-circled:before {
  content: "\f301";
}

.entypo-flickr:before {
  content: "\f303";
}

.entypo-flickr-circled:before {
  content: "\f304";
}

.entypo-vimeo:before {
  content: "\f306";
}

.entypo-vimeo-circled:before {
  content: "\f307";
}

.entypo-twitter:before {
  content: "\f309";
}

.entypo-twitter-circled:before {
  content: "\f30a";
}

.entypo-facebook:before {
  content: "\f30c";
}

.entypo-facebook-circled:before {
  content: "\f30d";
}

.entypo-facebook-squared:before {
  content: "\f30e";
}

.entypo-gplus:before {
  content: "\f30f";
}

.entypo-gplus-circled:before {
  content: "\f310";
}

.entypo-pinterest:before {
  content: "\f312";
}

.entypo-pinterest-circled:before {
  content: "\f313";
}

.entypo-tumblr:before {
  content: "\f315";
}

.entypo-tumblr-circled:before {
  content: "\f316";
}

.entypo-linkedin:before {
  content: "\f318";
}

.entypo-linkedin-circled:before {
  content: "\f319";
}

.entypo-dribbble:before {
  content: "\f31b";
}

.entypo-dribbble-circled:before {
  content: "\f31c";
}

.entypo-stumbleupon:before {
  content: "\f31e";
}

.entypo-stumbleupon-circled:before {
  content: "\f31f";
}

.entypo-lastfm:before {
  content: "\f321";
}

.entypo-lastfm-circled:before {
  content: "\f322";
}

.entypo-rdio:before {
  content: "\f324";
}

.entypo-rdio-circled:before {
  content: "\f325";
}

.entypo-spotify:before {
  content: "\f327";
}

.entypo-spotify-circled:before {
  content: "\f328";
}

.entypo-qq:before {
  content: "\f32a";
}

.entypo-instagrem:before {
  content: "\f32d";
}

.entypo-dropbox:before {
  content: "\f330";
}

.entypo-evernote:before {
  content: "\f333";
}

.entypo-flattr:before {
  content: "\f336";
}

.entypo-skype:before {
  content: "\f339";
}

.entypo-skype-circled:before {
  content: "\f33a";
}

.entypo-renren:before {
  content: "\f33c";
}

.entypo-sina-weibo:before {
  content: "\f33f";
}

.entypo-paypal:before {
  content: "\f342";
}

.entypo-picasa:before {
  content: "\f345";
}

.entypo-soundcloud:before {
  content: "\f348";
}

.entypo-mixi:before {
  content: "\f34b";
}

.entypo-behance:before {
  content: "\f34e";
}

.entypo-google-circles:before {
  content: "\f351";
}

.entypo-vkontakte:before {
  content: "\f354";
}

.entypo-smashing:before {
  content: "\f357";
}

.entypo-sweden:before {
  content: "\f601";
}

.entypo-db-shape:before {
  content: "\f600";
}

.entypo-logo-db:before {
  content: "\f603";
}

@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  src: url("http://weloveiconfonts.com/api/fonts/fontawesome/fontawesome-webfont.eot");
  src: url("http://weloveiconfonts.com/api/fonts/fontawesome/fontawesome-webfont.eot?#iefix") format("eot"), url("http://weloveiconfonts.com/api/fonts/fontawesome/fontawesome-webfont.woff") format("woff"), url("http://weloveiconfonts.com/api/fonts/fontawesome/fontawesome-webfont.ttf") format("truetype"), url("http://weloveiconfonts.com/api/fonts/fontawesome/fontawesome-webfont.svg#FontAwesomeRegular") format("svg");
}
.fontawesome-glass:before {
  content: "\f000";
}

.fontawesome-music:before {
  content: "\f001";
}

.fontawesome-search:before {
  content: "\f002";
}

.fontawesome-envelope:before {
  content: "\f003";
}

.fontawesome-heart:before {
  content: "\f004";
}

.fontawesome-star:before {
  content: "\f005";
}

.fontawesome-star-empty:before {
  content: "\f006";
}

.fontawesome-user:before {
  content: "\f007";
}

.fontawesome-film:before {
  content: "\f008";
}

.fontawesome-th-large:before {
  content: "\f009";
}

.fontawesome-th:before {
  content: "\f00a";
}

.fontawesome-th-list:before {
  content: "\f00b";
}

.fontawesome-ok:before {
  content: "\f00c";
}

.fontawesome-remove:before {
  content: "\f00d";
}

.fontawesome-zoom-in:before {
  content: "\f00e";
}

.fontawesome-zoom-out:before {
  content: "\f010";
}

.fontawesome-off:before {
  content: "\f011";
}

.fontawesome-signal:before {
  content: "\f012";
}

.fontawesome-cog:before {
  content: "\f013";
}

.fontawesome-trash:before {
  content: "\f014";
}

.fontawesome-home:before {
  content: "\f015";
}

.fontawesome-file:before {
  content: "\f016";
}

.fontawesome-time:before {
  content: "\f017";
}

.fontawesome-road:before {
  content: "\f018";
}

.fontawesome-download-alt:before {
  content: "\f019";
}

.fontawesome-download:before {
  content: "\f01a";
}

.fontawesome-upload:before {
  content: "\f01b";
}

.fontawesome-inbox:before {
  content: "\f01c";
}

.fontawesome-play-circle:before {
  content: "\f01d";
}

.fontawesome-repeat:before {
  content: "\f01e";
}

.fontawesome-refresh:before {
  content: "\f021";
}

.fontawesome-list-alt:before {
  content: "\f022";
}

.fontawesome-lock:before {
  content: "\f023";
}

.fontawesome-flag:before {
  content: "\f024";
}

.fontawesome-headphones:before {
  content: "\f025";
}

.fontawesome-volume-off:before {
  content: "\f026";
}

.fontawesome-volume-down:before {
  content: "\f027";
}

.fontawesome-volume-up:before {
  content: "\f028";
}

.fontawesome-qrcode:before {
  content: "\f029";
}

.fontawesome-barcode:before {
  content: "\f02a";
}

.fontawesome-tag:before {
  content: "\f02b";
}

.fontawesome-tags:before {
  content: "\f02c";
}

.fontawesome-book:before {
  content: "\f02d";
}

.fontawesome-bookmark:before {
  content: "\f02e";
}

.fontawesome-print:before {
  content: "\f02f";
}

.fontawesome-camera:before {
  content: "\f030";
}

.fontawesome-font:before {
  content: "\f031";
}

.fontawesome-bold:before {
  content: "\f032";
}

.fontawesome-italic:before {
  content: "\f033";
}

.fontawesome-text-height:before {
  content: "\f034";
}

.fontawesome-text-width:before {
  content: "\f035";
}

.fontawesome-align-left:before {
  content: "\f036";
}

.fontawesome-align-center:before {
  content: "\f037";
}

.fontawesome-align-right:before {
  content: "\f038";
}

.fontawesome-align-justify:before {
  content: "\f039";
}

.fontawesome-list:before {
  content: "\f03a";
}

.fontawesome-indent-left:before {
  content: "\f03b";
}

.fontawesome-indent-right:before {
  content: "\f03c";
}

.fontawesome-facetime-video:before {
  content: "\f03d";
}

.fontawesome-picture:before {
  content: "\f03e";
}

.fontawesome-pencil:before {
  content: "\f040";
}

.fontawesome-map-marker:before {
  content: "\f041";
}

.fontawesome-adjust:before {
  content: "\f042";
}

.fontawesome-tint:before {
  content: "\f043";
}

.fontawesome-edit:before {
  content: "\f044";
}

.fontawesome-share:before {
  content: "\f045";
}

.fontawesome-check:before {
  content: "\f046";
}

.fontawesome-move:before {
  content: "\f047";
}

.fontawesome-step-backward:before {
  content: "\f048";
}

.fontawesome-fast-backward:before {
  content: "\f049";
}

.fontawesome-backward:before {
  content: "\f04a";
}

.fontawesome-play:before {
  content: "\f04b";
}

.fontawesome-pause:before {
  content: "\f04c";
}

.fontawesome-stop:before {
  content: "\f04d";
}

.fontawesome-forward:before {
  content: "\f04e";
}

.fontawesome-fast-forward:before {
  content: "\f050";
}

.fontawesome-step-forward:before {
  content: "\f051";
}

.fontawesome-eject:before {
  content: "\f052";
}

.fontawesome-chevron-left:before {
  content: "\f053";
}

.fontawesome-chevron-right:before {
  content: "\f054";
}

.fontawesome-plus-sign:before {
  content: "\f055";
}

.fontawesome-minus-sign:before {
  content: "\f056";
}

.fontawesome-remove-sign:before {
  content: "\f057";
}

.fontawesome-ok-sign:before {
  content: "\f058";
}

.fontawesome-question-sign:before {
  content: "\f059";
}

.fontawesome-info-sign:before {
  content: "\f05a";
}

.fontawesome-screenshot:before {
  content: "\f05b";
}

.fontawesome-remove-circle:before {
  content: "\f05c";
}

.fontawesome-ok-circle:before {
  content: "\f05d";
}

.fontawesome-ban-circle:before {
  content: "\f05e";
}

.fontawesome-arrow-left:before {
  content: "\f060";
}

.fontawesome-arrow-right:before {
  content: "\f061";
}

.fontawesome-arrow-up:before {
  content: "\f062";
}

.fontawesome-arrow-down:before {
  content: "\f063";
}

.fontawesome-share-alt:before {
  content: "\f064";
}

.fontawesome-resize-full:before {
  content: "\f065";
}

.fontawesome-resize-small:before {
  content: "\f066";
}

.fontawesome-plus:before {
  content: "\f067";
}

.fontawesome-minus:before {
  content: "\f068";
}

.fontawesome-asterisk:before {
  content: "\f069";
}

.fontawesome-exclamation-sign:before {
  content: "\f06a";
}

.fontawesome-gift:before {
  content: "\f06b";
}

.fontawesome-leaf:before {
  content: "\f06c";
}

.fontawesome-fire:before {
  content: "\f06d";
}

.fontawesome-eye-open:before {
  content: "\f06e";
}

.fontawesome-eye-close:before {
  content: "\f070";
}

.fontawesome-warning-sign:before {
  content: "\f071";
}

.fontawesome-plane:before {
  content: "\f072";
}

.fontawesome-calendar:before {
  content: "\f073";
}

.fontawesome-random:before {
  content: "\f074";
}

.fontawesome-comment:before {
  content: "\f075";
}

.fontawesome-magnet:before {
  content: "\f076";
}

.fontawesome-chevron-up:before {
  content: "\f077";
}

.fontawesome-chevron-down:before {
  content: "\f078";
}

.fontawesome-retweet:before {
  content: "\f079";
}

.fontawesome-shopping-cart:before {
  content: "\f07a";
}

.fontawesome-folder-close:before {
  content: "\f07b";
}

.fontawesome-folder-open:before {
  content: "\f07c";
}

.fontawesome-resize-vertical:before {
  content: "\f07d";
}

.fontawesome-resize-horizontal:before {
  content: "\f07e";
}

.fontawesome-bar-chart:before {
  content: "\f080";
}

.fontawesome-twitter-sign:before {
  content: "\f081";
}

.fontawesome-facebook-sign:before {
  content: "\f082";
}

.fontawesome-camera-retro:before {
  content: "\f083";
}

.fontawesome-key:before {
  content: "\f084";
}

.fontawesome-cogs:before {
  content: "\f085";
}

.fontawesome-comments:before {
  content: "\f086";
}

.fontawesome-thumbs-up:before {
  content: "\f087";
}

.fontawesome-thumbs-down:before {
  content: "\f088";
}

.fontawesome-star-half:before {
  content: "\f089";
}

.fontawesome-heart-empty:before {
  content: "\f08a";
}

.fontawesome-signout:before {
  content: "\f08b";
}

.fontawesome-linkedin-sign:before {
  content: "\f08c";
}

.fontawesome-pushpin:before {
  content: "\f08d";
}

.fontawesome-external-link:before {
  content: "\f08e";
}

.fontawesome-signin:before {
  content: "\f090";
}

.fontawesome-trophy:before {
  content: "\f091";
}

.fontawesome-github-sign:before {
  content: "\f092";
}

.fontawesome-upload-alt:before {
  content: "\f093";
}

.fontawesome-lemon:before {
  content: "\f094";
}

.fontawesome-phone:before {
  content: "\f095";
}

.fontawesome-check-empty:before {
  content: "\f096";
}

.fontawesome-bookmark-empty:before {
  content: "\f097";
}

.fontawesome-phone-sign:before {
  content: "\f098";
}

.fontawesome-twitter:before {
  content: "\f099";
}

.fontawesome-facebook:before {
  content: "\f09a";
}

.fontawesome-github:before {
  content: "\f09b";
}

.fontawesome-unlock:before {
  content: "\f09c";
}

.fontawesome-credit-card:before {
  content: "\f09d";
}

.fontawesome-rss:before {
  content: "\f09e";
}

.fontawesome-hdd:before {
  content: "\f0a0";
}

.fontawesome-bullhorn:before {
  content: "\f0a1";
}

.fontawesome-bell:before {
  content: "\f0a2";
}

.fontawesome-certificate:before {
  content: "\f0a3";
}

.fontawesome-hand-right:before {
  content: "\f0a4";
}

.fontawesome-hand-left:before {
  content: "\f0a5";
}

.fontawesome-hand-up:before {
  content: "\f0a6";
}

.fontawesome-hand-down:before {
  content: "\f0a7";
}

.fontawesome-circle-arrow-left:before {
  content: "\f0a8";
}

.fontawesome-circle-arrow-right:before {
  content: "\f0a9";
}

.fontawesome-circle-arrow-up:before {
  content: "\f0aa";
}

.fontawesome-circle-arrow-down:before {
  content: "\f0ab";
}

.fontawesome-globe:before {
  content: "\f0ac";
}

.fontawesome-wrench:before {
  content: "\f0ad";
}

.fontawesome-tasks:before {
  content: "\f0ae";
}

.fontawesome-filter:before {
  content: "\f0b0";
}

.fontawesome-briefcase:before {
  content: "\f0b1";
}

.fontawesome-fullscreen:before {
  content: "\f0b2";
}

.fontawesome-group:before {
  content: "\f0c0";
}

.fontawesome-link:before {
  content: "\f0c1";
}

.fontawesome-cloud:before {
  content: "\f0c2";
}

.fontawesome-beaker:before {
  content: "\f0c3";
}

.fontawesome-cut:before {
  content: "\f0c4";
}

.fontawesome-copy:before {
  content: "\f0c5";
}

.fontawesome-paper-clip:before {
  content: "\f0c6";
}

.fontawesome-save:before {
  content: "\f0c7";
}

.fontawesome-sign-blank:before {
  content: "\f0c8";
}

.fontawesome-reorder:before {
  content: "\f0c9";
}

.fontawesome-list-ul:before {
  content: "\f0ca";
}

.fontawesome-list-ol:before {
  content: "\f0cb";
}

.fontawesome-strikethrough:before {
  content: "\f0cc";
}

.fontawesome-underline:before {
  content: "\f0cd";
}

.fontawesome-table:before {
  content: "\f0ce";
}

.fontawesome-magic:before {
  content: "\f0d0";
}

.fontawesome-truck:before {
  content: "\f0d1";
}

.fontawesome-pinterest:before {
  content: "\f0d2";
}

.fontawesome-pinterest-sign:before {
  content: "\f0d3";
}

.fontawesome-google-plus-sign:before {
  content: "\f0d4";
}

.fontawesome-google-plus:before {
  content: "\f0d5";
}

.fontawesome-money:before {
  content: "\f0d6";
}

.fontawesome-caret-down:before {
  content: "\f0d7";
}

.fontawesome-caret-up:before {
  content: "\f0d8";
}

.fontawesome-caret-left:before {
  content: "\f0d9";
}

.fontawesome-caret-right:before {
  content: "\f0da";
}

.fontawesome-columns:before {
  content: "\f0db";
}

.fontawesome-sort:before {
  content: "\f0dc";
}

.fontawesome-sort-down:before {
  content: "\f0dd";
}

.fontawesome-sort-up:before {
  content: "\f0de";
}

.fontawesome-envelope-alt:before {
  content: "\f0e0";
}

.fontawesome-linkedin:before {
  content: "\f0e1";
}

.fontawesome-undo:before {
  content: "\f0e2";
}

.fontawesome-legal:before {
  content: "\f0e3";
}

.fontawesome-dashboard:before {
  content: "\f0e4";
}

.fontawesome-comment-alt:before {
  content: "\f0e5";
}

.fontawesome-comments-alt:before {
  content: "\f0e6";
}

.fontawesome-bolt:before {
  content: "\f0e7";
}

.fontawesome-sitemap:before {
  content: "\f0e8";
}

.fontawesome-umbrella:before {
  content: "\f0e9";
}

.fontawesome-paste:before {
  content: "\f0ea";
}

.fontawesome-lightbulb:before {
  content: "\f0eb";
}

.fontawesome-exchange:before {
  content: "\f0ec";
}

.fontawesome-cloud-download:before {
  content: "\f0ed";
}

.fontawesome-cloud-upload:before {
  content: "\f0ee";
}

.fontawesome-user-md:before {
  content: "\f0f0";
}

.fontawesome-stethoscope:before {
  content: "\f0f1";
}

.fontawesome-suitcase:before {
  content: "\f0f2";
}

.fontawesome-bell-alt:before {
  content: "\f0f3";
}

.fontawesome-coffee:before {
  content: "\f0f4";
}

.fontawesome-food:before {
  content: "\f0f5";
}

.fontawesome-file-alt:before {
  content: "\f0f6";
}

.fontawesome-building:before {
  content: "\f0f7";
}

.fontawesome-hospital:before {
  content: "\f0f8";
}

.fontawesome-ambulance:before {
  content: "\f0f9";
}

.fontawesome-medkit:before {
  content: "\f0fa";
}

.fontawesome-fighter-jet:before {
  content: "\f0fb";
}

.fontawesome-beer:before {
  content: "\f0fc";
}

.fontawesome-h-sign:before {
  content: "\f0fd";
}

.fontawesome-plus-sign-alt:before {
  content: "\f0fe";
}

.fontawesome-double-angle-left:before {
  content: "\f100";
}

.fontawesome-double-angle-right:before {
  content: "\f101";
}

.fontawesome-double-angle-up:before {
  content: "\f102";
}

.fontawesome-double-angle-down:before {
  content: "\f103";
}

.fontawesome-angle-left:before {
  content: "\f104";
}

.fontawesome-angle-right:before {
  content: "\f105";
}

.fontawesome-angle-up:before {
  content: "\f106";
}

.fontawesome-angle-down:before {
  content: "\f107";
}

.fontawesome-desktop:before {
  content: "\f108";
}

.fontawesome-laptop:before {
  content: "\f109";
}

.fontawesome-tablet:before {
  content: "\f10a";
}

.fontawesome-mobile-phone:before {
  content: "\f10b";
}

.fontawesome-circle-blank:before {
  content: "\f10c";
}

.fontawesome-quote-left:before {
  content: "\f10d";
}

.fontawesome-quote-right:before {
  content: "\f10e";
}

.fontawesome-spinner:before {
  content: "\f110";
}

.fontawesome-circle:before {
  content: "\f111";
}

.fontawesome-reply:before {
  content: "\f112";
}

.fontawesome-github-alt:before {
  content: "\f113";
}

.fontawesome-folder-close-alt:before {
  content: "\f114";
}

.fontawesome-folder-open-alt:before {
  content: "\f115";
}

/* HTML5 Boilerplate Reset - http://html5boilerplate.com/ */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #2a5075;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #2a5075;
  color: #fff;
  text-shadow: none;
}

a {
  color: #00e;
}

a:visited {
  color: #551a8b;
}

a:hover {
  color: #06e;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

pre, code, kbd, samp {
  font-family: monospace,serif;
  _font-family: 'courier new',monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 0;
  padding: 0;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

.ir br {
  display: none;
}

::-webkit-input-placeholder {
  font-weight: 300;
}

input:-moz-placeholder {
  font-weight: 300;
}

/* =============================================================================
   Plugins
   ========================================================================== */
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  font-style: normal;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  font-style: normal;
}

/* =============================================================================
   General
   ========================================================================== */
body {
  margin: 0;
  clear: both;
  font: 14px/16px verdana, sans-serif, arial;
  color: #333;
}

.container {
  width: 1265px;
  margin: 0 auto;
}
.container > .content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  margin-top: 30px;
  /* outline: 1px dotted; */
  /* background: #eee; */
}

.hide {
  display: none;
}

/* =============================================================================
   Content
   ========================================================================== */
.container .content-list {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZmJmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZlZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #f9fbfe), color-stop(100%, #feffff));
  background-image: -moz-linear-gradient(left, #f9fbfe, #feffff);
  background-image: -webkit-linear-gradient(left, #f9fbfe, #feffff);
  background-image: linear-gradient(to right, #f9fbfe, #feffff);
  width: 100%;
  margin: 20px auto;
  clear: both;
  border: 2px solid #C0CCDB;
  padding: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.container .content-list .btn {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #5B9BD5;
  border: 1px solid #AABBC9;
  padding: 5px;
  color: white;
  letter-spacing: 1px;
}
.container .content-list .btn .icon-side {
  vertical-align: top;
  padding-right: 5px;
  display: inline-block;
}
.container .content-list .btn .icon-side.inverted {
  /* if browser accepts */
  transform: rotateY(-180deg);
  padding-right: 0;
  padding-left: 5px;
}
.container .content-list .btn.btn-close {
  display: none;
  padding: 3px;
  font-size: 12px;
  right: 10px;
  position: absolute;
  top: 10px;
}
.container .content-list .btn.btn-close .icon-x {
  font-weight: bold;
}
.container .content-list .btn:hover {
  background: #fff;
  color: #5B9BD5;
}
.container .content-list .select {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmNmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #fdfcfd), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(left, #fdfcfd, rgba(0, 0, 0, 0));
  background-image: -webkit-linear-gradient(left, #fdfcfd, rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right bottom, #fdfcfd, rgba(0, 0, 0, 0));
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  border: 1px solid #5B9BD5;
  color: #5B9BD5;
}
.container .content-list .list-masthead {
  list-style: none;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}
.container .content-list .list-masthead > li {
  display: inline;
  padding: 0px 40px;
}
.container .content-list .list-masthead > li:first-child {
  padding-left: 10px;
}
.container .content-list .list-servers {
  list-style: none;
}
.container .content-list .list-servers > .item {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: height 0.1s ease-in, border 0.3s linear;
  -o-transition: height 0.1s ease-in, border 0.3s linear;
  -webkit-transition: height 0.1s ease-in, border 0.3s linear;
  transition: height 0.1s ease-in, border 0.3s linear;
  width: 100%;
  padding: 5px;
  height: 40px;
  margin: 15px 0 0;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  user-select: none;
}
.container .content-list .list-servers > .item:first-child {
  margin: 0;
}
.container .content-list .list-servers > .item.item-pending {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZmJmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZlZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #f9fbfe), color-stop(100%, #feffff));
  background-image: -moz-linear-gradient(left, #f9fbfe, #feffff);
  background-image: -webkit-linear-gradient(left, #f9fbfe, #feffff);
  background-image: linear-gradient(to right bottom, #f9fbfe, #feffff);
  border: 1px solid #BFBFBF;
  color: #BFBFBF;
  pointer-events: none;
  cursor: default;
  opacity: 0.8;
}
.container .content-list .list-servers > .item.item-running {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZmJmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZlZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #f9fbfe), color-stop(100%, #feffff));
  background-image: -moz-linear-gradient(left, #f9fbfe, #feffff);
  background-image: -webkit-linear-gradient(left, #f9fbfe, #feffff);
  background-image: linear-gradient(to right bottom, #f9fbfe, #feffff);
  border: 1px solid #6596C3;
  color: #6596C3;
}
.container .content-list .list-servers > .item.item-rejected {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZWFlYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZlZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #feeaea), color-stop(100%, #feffff));
  background-image: -moz-linear-gradient(left, #feeaea, #feffff);
  background-image: -webkit-linear-gradient(left, #feeaea, #feffff);
  background-image: linear-gradient(to right bottom, #feeaea, #feffff);
  border: 1px solid #C31212;
  color: #C31212;
}
.container .content-list .list-servers > .item.item-complete, .container .content-list .list-servers > .item.item-accepted {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViZjFlOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZlZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #ebf1e9), color-stop(100%, #feffff));
  background-image: -moz-linear-gradient(left, #ebf1e9, #feffff);
  background-image: -webkit-linear-gradient(left, #ebf1e9, #feffff);
  background-image: linear-gradient(to right bottom, #ebf1e9, #feffff);
  border: 1px solid #538135;
  color: #538135;
}
.container .content-list .list-servers > .item.open {
  height: 268px;
}
.container .content-list .list-servers > .item.open .label-name {
  color: #2D74B4;
  font-size: 17px;
  text-decoration: underline;
  text-indent: -5px;
  padding-top: 5px;
}
.container .content-list .list-servers > .item.open .label-owner {
  opacity: 0;
}
.container .content-list .list-servers > .item.open .label-bars {
  opacity: 0;
}
.container .content-list .list-servers > .item.open .btn-close {
  display: block;
}
.container .content-list .list-servers > .item:hover {
  border: 1px solid #333;
}
.container .content-list .list-servers > .item:hover .label-tag {
  color: #333;
}
.container .content-list .list-servers .item-options {
  list-style: none;
}
.container .content-list .list-servers .item-options > .label {
  font-size: 15px;
  height: auto;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}
.container .content-list .list-servers .item-options > .label.label-tag {
  margin-right: 25px;
  margin-left: 2px;
  width: 20px;
  height: 17px;
}
.container .content-list .list-servers .item-options > .label.label-tag.tag-type {
  font-size: 20px;
}
.container .content-list .list-servers .item-options > .label.label-name {
  width: 160px;
}
.container .content-list .list-servers .item-options > .label.label-owner {
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: 95px;
}
.container .content-list .list-servers .item-options > .label.label-date {
  width: 190px;
}
.container .content-list .list-servers .item-options > .label.label-state {
  width: 125px;
  text-transform: capitalize;
}
.container .content-list .list-servers .item-options > .label.label-bars {
  width: 124px;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.container .content-list .list-servers .item-options > .label.label-bars.label-unit {
  width: 162px;
}
.container .content-list .list-servers .item-options > .label.label-bars .lbar {
  width: 50px;
  height: 25px;
  background: #D8D8D8;
  border: 1px solid #C8C8C7;
}
.container .content-list .list-servers .item-options > .label.label-bars .lbar .pcent {
  display: block;
  height: 25px;
  width: 0%;
  -moz-transition: width 0.5s ease-out;
  -o-transition: width 0.5s ease-out;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}
.container .content-list .list-servers .item-options > .label.label-bars .lbar .pcent.running {
  background: #5B9BD5;
}
.container .content-list .list-servers .item-options > .label.label-bars .lbar .pcent.rejected {
  background: #C00000;
}
.container .content-list .list-servers .item-options > .label.label-bars .lbar .pcent.complete, .container .content-list .list-servers .item-options > .label.label-bars .lbar .pcent.accepted {
  background: #538135;
}
.container .content-list .list-servers .details {
  margin: 18px 20px;
  cursor: default;
  /*/STATIC GRID*/
}
.container .content-list .list-servers .details > .box {
  /*STATIC GRID*/
  display: inline-block;
  position: relative;
  width: 200px;
  height: 190px;
  margin: 0px 10px;
}
.container .content-list .list-servers .details > .box .content {
  float: left;
}
.container .content-list .list-servers .details > .box .title {
  margin: 10px 8px;
  font-size: 16px;
}
.container .content-list .list-servers .details > .box.rejected {
  border: 2px solid #C00000;
  color: #C00000;
}
.container .content-list .list-servers .details > .box.running, .container .content-list .list-servers .details > .box.complete, .container .content-list .list-servers .details > .box.accepted {
  -moz-box-shadow: #333 4px 4px 14px;
  -webkit-box-shadow: #333 4px 4px 14px;
  box-shadow: #333 4px 4px 14px;
  border: 2px solid #538135;
  color: #538135;
}
.container .content-list .list-servers .details > .box.running {
  color: #5B9BD5;
}
.container .content-list .list-servers .details > .box.box-metrics .arrows {
  padding: 0px 10px;
}
.container .content-list .list-servers .details > .box.box-metrics .arrows .legend {
  color: #333;
  font-size: 12px;
}
.container .content-list .list-servers .details > .box.box-metrics .arrows .arrow-item {
  /*outline: 1px dotted;*/
  float: left;
  width: 70px;
  height: 60px;
  margin: 0 20px 10px 0;
  cursor: help;
}
.container .content-list .list-servers .details > .box.box-metrics .arrows .arrow-item .legend {
  color: #000;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 20px;
}
.container .content-list .list-servers .details > .box.box-metrics .arrows .arrow-item .arrow {
  border: 1px solid #CCC;
  width: 30px;
  height: 40px;
  margin: 0 auto;
}
.container .content-list .list-servers .details > .box.box-metrics .arrows .arrow-item .arrow .value-n {
  /*-properties-*/
  z-index: 9999;
  position: relative;
  left: 3px;
  top: -6px;
  color: #FFF;
  font-size: 20px;
}
.container .content-list .list-servers .details > .box.box-metrics .arrows .arrow-item .arrow.up {
  background: #538135;
  top: 18px;
  position: relative;
}
.container .content-list .list-servers .details > .box.box-metrics .arrows .arrow-item .arrow.up .value-n {
  top: -25px;
}
.container .content-list .list-servers .details > .box.box-metrics .arrows .arrow-item .arrow.down {
  background: #C00000;
}
.container .content-list .list-servers .details > .box.box-metrics .arrows .arrow-item .arrow.left {
  background: #FDD763;
  transform: rotateZ(270deg);
  margin-right: 15px;
}
.container .content-list .list-servers .details > .box.box-metrics .arrows .arrow-item .arrow.left .value-n {
  color: #333;
  transform: rotateZ(90deg);
  display: inline-block;
}
.container .content-list .list-servers .details > .box.box-metrics .arrows .arrow-item .arrow.right {
  background: #FDD763;
  transform: rotateZ(90deg);
  margin-left: 15px;
}
.container .content-list .list-servers .details > .box.box-metrics .arrows .arrow-item .arrow.right .value-n {
  color: #333;
  transform: rotateZ(270deg);
  display: inline-block;
}
.container .content-list .list-servers .details > .box.box-metrics .arrows .arrow-item .arrow:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 30px 25px;
  display: block;
  position: relative;
}
.container .content-list .list-servers .details > .box.box-metrics .arrows .arrow-item .arrow.arrow-up:before {
  top: -20px;
  left: -10px;
  border-color: transparent transparent #538135 transparent;
}
.container .content-list .list-servers .details > .box.box-metrics .arrows .arrow-item .arrow.arrow-down:before {
  top: 30px;
  left: -10px;
  -webkit-transform: rotateZ(180deg);
  border-color: transparent transparent #C00000 transparent;
}
.container .content-list .list-servers .details > .box.box-metrics .arrows .arrow-item .arrow.arrow-left:before, .container .content-list .list-servers .details > .box.box-metrics .arrows .arrow-item .arrow.arrow-right:before {
  border-color: transparent transparent #FDD763 transparent;
}
.container .content-list .list-servers .details > .box.box-build a {
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  color: #5B9BD5;
  text-decoration: none;
}
.container .content-list .list-servers .details > .box.box-build a:hover {
  opacity: 0.6;
}
.container .content-list .list-servers .details > .box.box-build h2 {
  color: #538135;
}
.container .content-list .list-servers .details > .box.box-build .content {
  margin-top: 10px;
}
.container .content-list .list-servers .details > .box.box-build .date-updated {
  color: #333;
  width: 200px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 13px;
}
.container .content-list .list-servers .details > .box.box-build .item {
  width: 70px;
  display: inline-block;
  margin-top: 24px;
  margin-left: 17px;
  text-align: center;
}
.container .content-list .list-servers .details > .box.box-build .item i {
  display: block;
  clear: both;
  font-size: 60px;
  margin-bottom: 35px;
}
.container .content-list .list-servers .details > .box.box-functional .pie.pcent .real {
  color: #BD8C00 !important;
}
.container .content-list .list-servers .details > .box.box-unit .content .pie.chart, .container .content-list .list-servers .details > .box.box-functional .content .pie.chart {
  z-index: 9999;
  margin: 2px 4px 5px 9px;
  width: 100px;
  height: 100px;
  text-align: center;
  display: inline-block;
}
.container .content-list .list-servers .details > .box.box-unit .content .pie.chart .org-pie, .container .content-list .list-servers .details > .box.box-functional .content .pie.chart .org-pie {
  width: 100px;
  height: 100px;
}
.container .content-list .list-servers .details > .box.box-unit .content .pie.pcent, .container .content-list .list-servers .details > .box.box-functional .content .pie.pcent {
  margin: 0 auto;
  vertical-align: top;
  display: inline-block;
  margin-top: 40px;
}
.container .content-list .list-servers .details > .box.box-unit .content .pie.pcent .real, .container .content-list .list-servers .details > .box.box-functional .content .pie.pcent .real {
  color: #A3C842;
  font-size: 31px;
}
.container .content-list .list-servers .details > .box.box-unit .content .pie.pcent .descr, .container .content-list .list-servers .details > .box.box-functional .content .pie.pcent .descr {
  color: #333;
  font-size: 10px;
  text-align: center;
  clear: both;
  display: block;
}
.container .content-list .list-servers .details > .box.box-unit .content .pie.stbar, .container .content-list .list-servers .details > .box.box-functional .content .pie.stbar {
  background: #F7CBAC;
  width: 90%;
  height: 30px;
  margin: 12px auto;
  position: relative;
}
.container .content-list .list-servers .details > .box.box-unit .content .pie.stbar .pcent, .container .content-list .list-servers .details > .box.box-functional .content .pie.stbar .pcent {
  color: #538135;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: -28px;
}
.container .content-list .list-servers .details > .box.box-unit .content .pie.stbar .pcent.down, .container .content-list .list-servers .details > .box.box-functional .content .pie.stbar .pcent.down {
  color: #7D3402;
}
.container .content-list .list-servers .details > .box.box-unit .content .pie.stbar .descr, .container .content-list .list-servers .details > .box.box-functional .content .pie.stbar .descr {
  color: #333;
  font-size: 12px;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: -2px;
}
.container .content-list .list-servers .details > .box.box-unit .content .pie.stbar .fill, .container .content-list .list-servers .details > .box.box-functional .content .pie.stbar .fill {
  background: #C5E0B3;
  height: 30px;
  margin: 0;
}
.container .content-list .list-servers .details > .box.box-result {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-align: center;
  padding: 18px 0;
  border: 0;
  float: right;
  margin-right: 18px;
}
.container .content-list .list-servers .details > .box.box-result.accepted, .container .content-list .list-servers .details > .box.box-result.complete {
  font-weight: normal !important;
}
.container .content-list .list-servers .details > .box.box-result.accepted {
  color: #FEB802;
}
.container .content-list .list-servers .details > .box.box-result.complete {
  color: #294A13;
}
.container .content-list .list-servers .details > .box.box-result .title {
  color: #333;
  font-weight: normal;
}
.container .content-list .list-servers .details > .box.box-result h3, .container .content-list .list-servers .details > .box.box-result .descr {
  font-weight: normal;
  text-transform: capitalize;
  font-size: 14px;
  margin: 0;
}
.container .content-list .list-servers .details > .box.box-result .descr {
  line-height: 28px;
  font-size: 30px;
  margin-bottom: 30px;
}

/* =============================================================================
   Footer
   ========================================================================== */
/* --- */
/*---*/

/*# sourceMappingURL=base.css.map */
