/**
 * Jobvite Assignment
 * http://tests.guiatech.com.br/jobvite-assignment/
 * Copyright 2015, Guia Tech
 * Author: João Guilherme C. Prado
 * Library: Compass / ruby 2.0
 * 
 * Built with Angular and Polish of UX experience and adherence to spec, Cleanliness, simplicity of code / stubs aiming status of builds and firewalls.
 *
 * Date: Mon Jan 26 2015 22:49:32 GMT-0300
 */

/* Variables */
$default_font : 14px/16px verdana, sans-serif, arial ;
$default_font_color : #333 ;
$background_color_running_from : #F9FBFE ;
$background_color_running_to : #FEFFFF ;
$background_color_rejected_from : #FEEAEA ;
$background_color_rejected_to : #FEFFFF ;
$background_color_complete_from : #EBF1E9 ;
$background_color_complete_to : #FEFFFF ;
$color_default_ad : #5B9BD5 ;
/* /Variables */

/* =============================================================================
   CSS Reset
   ========================================================================== */

@import "plugins/fonts" ;
@import "plugins/reset" ;
@import "compass/css3" ;

/* =============================================================================
   Plugins
   ========================================================================== */


/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  font-style: normal;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  font-style: normal;
}

/* =============================================================================
   General
   ========================================================================== */

body {
	margin: 0;
	clear: both;
	font: $default_font;
	color: $default_font_color;
}

.container {
	width: 1260px;
	margin: 0 auto;
	& > .content {
		@include box-sizing(border-box);
		padding: 5px;
		margin-top: 30px;
	}
}

.hide {
	display: none;
}

/* =============================================================================
   Content
   ========================================================================== */

.container {
	.content {
		.gif-loading{
			display: none;
		}
		&.loading {
			.gif-loading {
				display: block;
				z-index: 9999;
				width: 150px;
				position: absolute;
				margin: 0 auto;
				margin-top: 50px;
				img { width: 100%; }
			}
			.content-list {
				opacity: 0.2;
				pointer-events: none;
			}
		}
		.btn {
			@include box-sizing(border-box);
			@include border-radius(4px);
			background: $color_default_ad;
			border: 1px solid #AABBC9;
			padding: 5px;
			color: white;
			letter-spacing: 1px;
			.icon-side {
				vertical-align: top;
				padding-right: 5px;
				display: inline-block;
				&.inverted { /* if browser accepts */
					transform: rotateY(-180deg);
					padding-right: 0;
					padding-left: 5px;
				}
			}
			&.btn-close {
				display: none;
				padding: 3px;
				font-size: 12px;
				right: 10px;
				position: absolute;
				top: 10px;
				.icon-x {
					font-weight: bold;
				}
			}
			&.btn-refresh {
				float: right;
				padding: 3px;
				position: relative;
				top: -10px;
				.icon-side {
					width: 14px;
				}
			}
			&:hover {
				background: #fff;
				color: $color_default_ad;
			}
		}
		.select {
			@include background-image(linear-gradient(to right bottom, #FDFCFD, transparent));
			@include box-sizing(border-box);
			background: white;
			border: 1px solid $color_default_ad;
			color: $color_default_ad;
		}
	}
	.content-list {
		@include background-image(linear-gradient(to right, $background_color_running_from, $background_color_running_to));
		@include box-sizing(border-box);
		clear: both;
		position: relative;
		width: 100%;
		margin: 20px auto;
		padding: 20px;
		border: 2px solid #C0CCDB;
		.list-masthead {
			list-style: none;
			clear: both;
			width: 100%;
			margin-bottom: 10px;
			& > li {
				display: inline;
				padding: 0px 40px;
				&:first-child {
					padding-left: 10px;
				}
			}
		}
		.list-servers {
			list-style: none;
			& > .item {
				@include box-sizing(border-box);
				@include transition(height .1s ease-in, border .3s linear);
				width: 100%;
				padding: 5px;
				height: 40px;
				margin: 15px 0 0;
				cursor: pointer;
				overflow: hidden;
				position: relative;
				user-select: none; //responsive case
				&:first-child {
					margin: 0;
				}
				&.item-pending {
					@include background-image(linear-gradient(to right bottom, $background_color_running_from, $background_color_running_to));
					border: 1px solid #BFBFBF;
					color: #BFBFBF;
					pointer-events: none;
					cursor: default;
					opacity: 0.5;
				}
				&.item-running {
					@include background-image(linear-gradient(to right bottom, $background_color_running_from, $background_color_running_to));
					border: 1px solid #6596C3;
					color: #6596C3;
				}
				&.item-rejected {
					@include background-image(linear-gradient(to right bottom, $background_color_rejected_from, $background_color_rejected_to));
					border: 1px solid #C31212;
					color: #C31212;
				}
				&.item-complete, &.item-accepted {
					@include background-image(linear-gradient(to right bottom, $background_color_complete_from, $background_color_complete_to));
					border: 1px solid #538135;
					color: #538135;
				}
				&.open {
					height: 268px;
					.details {
						visibility: visible;
					}
					.label-name {
						color: #2D74B4;
						font-size: 17px;
						text-decoration: underline;
						text-indent: -5px;
						padding-top: 5px;
					}
					.label-owner {
						opacity: 0;
					}
					.label-bars {
						opacity: 0;
					}
					.btn-close {
						display: block;
					}
				}
				&:hover {
					border: 1px solid $default_font_color;
					.label-tag {
						color: $default_font_color;
					}
				}
			}
			.item-options {
				list-style: none;
				& > .label {
					font-size: 15px;
					height: auto;
					padding: 0;
					display: inline-block;
					vertical-align: middle;
					&.label-tag {
						margin-right: 25px;
						margin-left: 2px;
						width: 20px;
						height: 17px;
						&.tag-type {
							font-size: 20px;
						}
					}
					&.label-name {
						width: 160px;
					}
					&.label-owner {
						@include transition(opacity .2s ease-in);
						width: 95px;
					}
					&.label-date {
						width: 190px;
					}
					&.label-state {
						width: 125px;
						text-transform: capitalize
					}
					&.label-bars {
						width: 124px;
						@include transition(opacity .2s ease-in);
						&.label-unit {
							width: 162px;
						}
						.lbar {
							width: 50px;
							height: 25px;
							background: #D8D8D8;
							border: 1px solid #C8C8C7;
							.pcent {
								display: block;
								height: 25px;
								width: 0%;
								@include transition(width .5s ease-out);
								&.running {
									background: $color_default_ad;
								}
								&.rejected {
									background: #C00000;
								}
								&.complete, &.accepted {
									background: #538135;
								}
							}
						}
					}
				}
			}
			.details {
				margin: 18px 20px;
				cursor: default;
				visibility: hidden;
				& > .box { /*STATIC GRID*/
					display: inline-block;
					position: relative;
					width: 200px;
					height: 190px;
					margin: 0px 10px;
					.content { float: left; }
					.title {
						margin: 10px 8px;
						font-size: 16px;
					}
					&.rejected {
						border: 2px solid #C00000;
						color: #C00000;
					}
					&.running, &.complete, &.accepted {
						@include box-shadow($default_font_color 4px 4px 14px);
						border: 2px solid #538135;
						color: #538135;
					}
					&.running {
						color: $color_default_ad;
					}
					&.box-metrics{
						.arrows {
							padding: 0px 10px;
							.legend {
								color: $default_font_color;
								font-size: 12px;
							}
							.arrow-item {
								/*outline: 1px dotted;*/
								float: left;
								width: 70px;
								height: 60px;
								margin: 0 20px 10px 0;
								cursor: help;
								.legend {
									color: #000;
									text-align: center;
									width: 100%;
									display: block;
									margin-top: 20px;
								}
								.arrow {
									border: 1px solid #CCC;
									width: 30px;
									height: 40px;
									margin: 0 auto;
									.value-n { /*-properties-*/
										z-index: 9999;
										position: relative;
										left: 3px;
										top: -6px;
										color: #FFF;
										font-size: 20px;
									}
									&.up {
										background: #538135;
										top: 18px;
										position: relative;
										.value-n {
											top: -25px;
										}
									}
									&.down {
										background: #C00000;
									}
									&.left {
										background: #FDD763;
										transform: rotateZ(270deg);
										margin-right: 15px;
										.value-n {
											color: $default_font_color;
											transform: rotateZ(90deg);
											display: inline-block;
										}
									}
									&.right {
										background: #FDD763;
										transform: rotateZ(90deg);
										margin-left: 15px;
										.value-n {
											color: $default_font_color;
											transform: rotateZ(270deg);
											display: inline-block;
										}
									}
									&:before {
										content: '';
										width: 0;
										height: 0;
										border-style: solid;
										border-width: 0 25px 30px 25px;
										display: block;
										position: relative;
									}
									&.arrow-up:before {
										top: -20px;
										left: -10px;
										border-color: transparent transparent #538135 transparent;
									}
									&.arrow-down:before {
										top: 30px;
										left: -10px;
										-webkit-transform: rotateZ(180deg);
										border-color: transparent transparent #C00000 transparent;
									}
									&.arrow-left:before, &.arrow-right:before{
										border-color: transparent transparent #FDD763 transparent;
									}
								}
							}
						}
					}
					&.box-build {
						a {
							@include transition(opacity .2s ease-in);
							color: $color_default_ad;
							text-decoration:none;
							&:hover {
								opacity: 0.6;
							}
						}
						h2 { color: #538135; }
						.content { margin-top: 10px; }
						.date-updated {
							color: $default_font_color;
							width: 200px;
							text-align: center;
							margin-top: 30px;
							margin-bottom: 0;
							font-size: 13px;
						}
						.item {
							width: 70px;
							display: inline-block;
							margin-top: 24px;
							margin-left: 17px;
							text-align: center;
							i {
								display: block;
								clear: both;
								font-size: 60px;
								margin-bottom: 35px;
							}
						}
					}
					&.box-functional {
						.pie.pcent .real { color: #BD8C00 !important; }
					}
					&.box-unit, &.box-functional {
						.content {
							.pie.chart {
								z-index: 9999;
								margin: 2px 4px 5px 9px;
								width: 100px;
								height: 100px;
								text-align: center;
								display: inline-block;
								.org-pie {
									width: 100px;
									height: 100px;
								}
							}
							.pie.pcent {
								.real {
									color: #A3C842;
									font-size: 31px;	
								}
								.descr {
									color: $default_font_color;
									font-size: 10px;
									text-align: center;
									clear: both;
									display: block;
								}
								margin: 0 auto;
								vertical-align: top;
								display: inline-block;
								margin-top: 40px;
							}
							.pie.stbar {
								background: #F7CBAC;
								width: 90%;
								height: 30px;
								margin: 12px auto;
								position: relative;
								.pcent {
									color: #538135;
									font-size: 17px;
									font-weight: bold;
									text-align: center;
									width: 100%;
									display: block;
									margin-top: -28px;
									&.down {
										color: #7D3402;
									}
								}
								.descr {
									color: $default_font_color;
									font-size: 12px;
									text-align: center;
									width: 100%;
									display: block;
									margin-top: -2px;
								}
								.fill {
									background: #C5E0B3;
									height: 30px;
									margin: 0;
								}
							}
						}
					}
					&.box-result {
						@include box-shadow(none);
						text-align: center;
						padding: 18px 0;
						border: 0;
						float: right;
						margin-right: 18px;
						&.accepted, &.complete {
							font-weight: normal !important;
						}
						&.accepted {
							color: #FEB802;
						}
						&.complete {
							color: #294A13;
						}
						.title {
							color: $default_font_color;
							font-weight: normal;
						}
						h3, .descr {
							font-weight: normal;
							text-transform: capitalize;
							font-size: 14px;
							margin: 0;
						}
						.descr {
							line-height: 28px;
							font-size: 30px;
							margin-bottom: 30px;
						}
					}
				} /*/STATIC GRID*/
			}
		}
	}
}



/* =============================================================================
   Footer
   ========================================================================== */

footer.guicheffer {
	float: right;
	.links {
		list-style: none;
		font-size: 40px;
		& > li {
			display: inline;
			padding: 20px 0;
			& > a {
				@include transition(opacity .2s ease-in);
				color: $default_font_color;
				text-decoration: none;
				&:hover {
					opacity: 0.6;
				}
			}
		}
	}
}

/*---*/
